body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #000000;
	padding: 10px;
	color: #00ffff;
	text-align: center;
	font-weight: bold;
}

footer {
	background-color: #000000;
	padding: 10px;
	color: #00ffff;
	text-align: center;
	font-weight: bold;
}

#main {
	text-align: center;
	background-color: #ffffff;
}

#account {
	text-align: center;
	font-weight: bold;
	color: #00ffff;
	background-color: #60bf00;
}


.nav-item {
	margin: 3px;
}

.sz4{
	 width: 385px; 
}

.sz2{
	 width: 186px;
}

.sz6{
	width: 582px;
}

.sz8{
	width: 780px;
}

.sz10{
	width: 978px;
}

.sz12{
	width: 1192px;
}

.sz3{
	width: 288px;
}

.nav-link {
	color: #00ffff;
	padding: 20px;
}

.img-fluid{
	height:160px;
	max-width: 100%
}

#bannerImage1, #bannerImage2, #bannerImage3, #bannerImage4,
	#bannerImage5 {
	height: 250px;
	width: 100%;
}

#promoln1, #promoln2, #promoln3, #promoln4, #promoln5, #promoln6, #promoln7, #promoln8{
	text-align: center;
	border-radius: 4px;
	padding:3px;
	margin:15px;
	background: #ffffff;
	
}

div.col-lg-2, div.col-lg-4, div.col-lg-6, div.col-lg-8, div.col-lg-10, div.col-lg-12, div.col-lg-3{
	padding:0px;
	border: 3px solid #ffffff;
	margin:0px;
}

.nav-tabs {
	padding-top: 45px;
}

#logo {
	width: 125px;
	height: 125px;
}

#scMedia {
	display: inline-block;
	font-size: 25px;
}

.subbutton {
	background-color: #60bf00;
}

.fa {
	padding: 15px;
	font-size: 30px;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.9;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-android {
	background: #a4c639;
	color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media ( max-width : 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}